<p>ayeee</p>
<div class="jumbotron" ng-controller="MainCtrl">
  <h1>BurnRate Calculator</h1>
    <md-input-container>
      <label>MTD billable hours</label>
      <input type="number" ng-model="number1">
    </md-input-container>
    <md-input-container>
      <label>Elapsed Work Days</label>
      <input type="number" ng-model="number2">
    </md-input-container>
    <md-input-container>
      <label>Total Work days for the month</label>
      <input type="number" ng-model="number3">
    </md-input-container>
    
    <button ng-click="calculateBurn()">Projected end of Month Hours</button>
    <p>{{answer}}</p>
</div>
